/* -----------------------------------------------------------------헤더 */
header {width:100%; padding:30px 150px 20px; position:sticky; top:0; left:0; background:#fff; z-index:999;}
header .top_wrap {display:flex; justify-content:space-between; align-items:center;}
header .top_wrap h1 {min-width:100px;}
header .top_wrap h1 a {}
header .top_wrap h1 a img {width:100%;}
header .top_wrap .search {
    width:319px; height:40px; border:1px solid #F0427D; 
    display:flex; align-items:center; justify-content:space-between;
    padding:13px 20px;
    border-radius:50px;
}
header .top_wrap .search input {font-size:0.75rem; font-weight:300; color:#aaa; width:100%;}
header .top_wrap .search img {}
header .top_wrap .right_menu {display:flex; gap:20px;}
header .top_wrap .right_menu .hidden_container {position:relative; top:-10px; left:-35px;}
header .top_wrap .right_menu .hidden_menu {
    background:#fff; display:flex; flex-flow:column nowrap;
    align-items:end;
    width:150px; height:max-content; gap:30px;
    position:absolute; top:50px; right:-10px;
    padding:30px;
    box-shadow:0px 0px 5px #aaa;
}
header .top_wrap .right_menu .hidden_menu > li {width:max-content;}
header .top_wrap .right_menu .hidden_menu > li a {font-size:0.875rem}
header .top_wrap .right_menu .hidden_menu > li .depth {}
header .top_wrap .right_menu .hidden_menu > li .depth li {color:#fff;}
header .top_wrap .right_menu .hidden_menu > li .depth li a {}
header .top_wrap .right_menu .hidden_inner {
    position:absolute; top:50px; right:140px; background:#fff; 
    height:536px; width:300px;
    padding:50px; color:#fff;
    box-shadow:0px 0px 5px #aaa;
    text-align:right;
    
}
header .top_wrap .right_menu .hidden_inner button {position:absolute; top:10px; left:10px;}
header .top_wrap .right_menu .hidden_inner .depth {display:flex; flex-flow:column wrap; gap:20px; width:100%;}
header .top_wrap .right_menu .hidden_inner .depth li {}
header .top_wrap .right_menu .hidden_inner .depth li a {font-size:0.875rem}
header .top_wrap .right_menu {}
header .top_wrap .right_menu .menu {display:none;}
header .top_wrap .right_menu a img {}
header .bottom_wrap {display:flex; gap:10px; align-items:center; margin-top:5px;}
header .bottom_wrap a {}
header .bottom_wrap a img {}
header .bottom_wrap .hidden_container {position:relative; top:-10px; left:-35px;}
header .bottom_wrap .hidden_menu {
    background:#fff; display:flex; flex-flow:column nowrap;
    width:200px; height:max-content; gap:30px;
    position:absolute; top:27px; left:0;
    padding:30px;
    box-shadow:0px 0px 5px #aaa;
}
header .bottom_wrap .hidden_menu > li {width:max-content;}
header .bottom_wrap .hidden_menu > li a {}
header .bottom_wrap .hidden_menu > li .depth {}
header .bottom_wrap .hidden_menu > li .depth li {color:#fff;}
header .bottom_wrap .hidden_menu > li .depth li a {}
header .bottom_wrap .hidden_inner {
    position:absolute; top:27px; left:200px; background:#fff; 
    height:536px; width:500px;
    padding:50px; color:#fff;
    box-shadow:0px 0px 5px #aaa;
}
header .bottom_wrap .hidden_inner button {position:absolute; top:10px; right:10px;}
header .bottom_wrap .hidden_inner .depth {display:flex; flex-flow:column wrap; gap:20px; width:100%;}
header .bottom_wrap .hidden_inner .depth li {}
header .bottom_wrap .menu_wrap {display:flex; gap:30px; align-items:center;}
header .bottom_wrap .menu_wrap a {}
header .bottom_wrap .menu_wrap a:hover {border-bottom:1px solid #000;}
/* -----------------------------------------------------------------메인 */
/* -------------------------swiper */
main {}
main .banner_container {margin-bottom:80px; }
main .banner_container .banner_wrap {display:flex;}
main .banner_container .banner_wrap a {}
main .banner_container .banner_wrap a:nth-child(1) {}
main .banner_container .banner_wrap a img {width:100%;}
main .banner_container .banner_btn {
    position:relative; width:1060px; height:20px;
    display:flex; align-items:center; margin:40px auto 0; flex-direction:row-reverse;
    ;
}
main .banner_container .banner_btn .swiper-scrollbar {width:900px; display:block; top:50%; left:0;}
main .banner_container .banner_btn .swiper-scrollbar .swiper-scrollbar-drag {background:#F0427D;}
main .banner_container .banner_btn .arrow_wrap .swiper-pagination {
    width:max-content; height:20px; top:0; left:-30px;
    display:flex; gap:5px; align-items:center;
    font-size:0.75rem;
}
main .banner_container .banner_btn .arrow_wrap .swiper-pagination .swiper-pagination-current {font-weight:900;}
main .banner_container .banner_btn .arrow_wrap {
    width:80px; height:20px;
    display:flex; align-items:center;
    position:relative;
}
main .banner_container .banner_btn .arrow_wrap .swiper-button-next {}
main .banner_container .banner_btn .arrow_wrap .swiper-button-next:after {display:none !important;}
main .banner_container .banner_btn .arrow_wrap .swiper-button-next img {display:block;}
main .banner_container .banner_btn .arrow_wrap .swiper-button-prev {}
main .banner_container .banner_btn .arrow_wrap .swiper-button-prev:after {display:none !important;}
main .banner_container .banner_btn .arrow_wrap .swiper-button-prev img {}
/* -------------------------2행 신제품 */
main .new_container {
    max-width:1620px; min-width:320px;
    margin:0 auto 80px;
    /* 좌우 스와이퍼 부모 설정 */
    position:relative;
}
main .new_container h2 {font-size:2rem; font-weight:500;}
main .new_container .new_category_more {display:flex; justify-content:space-between;  margin:30px 0 40px;}
main .new_container .new_category_more .category {display:flex; gap:40px; flex-flow:row wrap;}
main .new_container .new_category_more .category li {}
main .new_container .new_category_more ul .active1{
    
}
main .new_container .new_category_more ul .active1 button {font-size:1.25rem !important;}

main .new_category_more .category li {position: relative;}

main .new_category_more .category li.active1::after {
    content: '';
    background:url(../images/Rectangle\ 52.png);
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index:-1;
}
main .new_container .new_category_more .category li button {font-size:0.938rem; font-weight:500;}
main .new_container .new_category_more .a {}
main .new_container .new_category_more .a img {}
/* swiper 포함 */
main .new_container .new_product_container {display:flex; position:relative; width:100%;}
/* swiper 버튼 */
main .new_container .arrow_wrap {
    width:107%; height:50px; position:absolute;
    display:flex; left:-60px; bottom:200px;
    align-items:center;
}
main .new_container .arrow_wrap .swiper-button-prev {}
main .new_container .arrow_wrap .swiper-button-prev::after {display:none !important;}
main .new_container .arrow_wrap .swiper-button-prev img {display:block;}
main .new_container .arrow_wrap .swiper-button-next {}
main .new_container .arrow_wrap .swiper-button-next::after {display:none !important;}
main .new_container .arrow_wrap .swiper-button-next img {display:block;}
/* swiper-wrapper */
main .new_container .new_product_container .new_product_all_wrap {display:flex; width:100%;}
/* swiper-slide */
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap {display:flex; justify-content:space-between; width:100%;}
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap .new_product {
    position:relative;
    border:1px solid #eee;
}
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap .new_product:hover {border:1px solid #F0427D;}
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap .new_product .new_photo {display:block; width:100%;}
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap .new_product .new_photo img {display:block; width:100%;}
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap .new_product .wishlist_plus {position:absolute; top:220px; right:10px;}
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap .new_product .wishlist_plus img {display:block;}
/* 상품 안 정보 */
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap .new_product .new_product_content {
    padding:15px; display:flex; flex-flow:column nowrap;
    border-top:1px solid #eee;
}
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap .new_product .new_product_content .product_brand {font-size:0.688rem;}
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap .new_product .new_product_content .product_name {
    font-size:0.938rem; font-weight:500;
    margin:10px 0 20px;
}
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap .new_product .new_product_content .before_price {}
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap .new_product .new_product_content .before_price del {font-size:0.75rem; font-weight:500; color:#aaa;}
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap .new_product .new_product_content .sale_price {
    font-size:0.875rem; font-weight:700;
    margin:6px 0 10px;
}
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap .new_product .new_product_content .sale_price span {font-weight:700; color:#F0427D; margin-right:10px;}
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap .new_product .new_product_content .star {display:flex; align-items:center;}
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap .new_product .new_product_content .star img {}
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap .new_product .new_product_content .star .score {
    font-size:0.688rem; font-weight:500;
    margin-right:7px;
}
main .new_container .new_product_container .new_product_all_wrap .new_product_wrap .new_product .new_product_content .star .review_count {font-size:0.688rem; font-weight:500;}
/* -------------------------3행 이벤트혜택 */
main .month_benefit {padding:60px 0; background:#f8f8f8;}
main .month_benefit .month_container {
    max-width:1620px;
    min-width:320px;
    margin:0 auto; 
    display:flex; justify-content:space-between; align-items:end;
}
main .month_benefit .month_container .month_left {}
main .month_benefit .month_container .month_left img {width:100%;}
main .month_benefit .month_container .month_right {max-width:960px;}
main .month_benefit .month_container .month_right > p {font-size:1.5rem;}
main .month_benefit .month_container .month_right .month_more {
    margin:30px 0 40px; display:flex; justify-content:space-between;
    align-items:end;
}
main .month_benefit .month_container .month_right .month_more h2 {font-size:2.125rem; font-weight:600;}
main .month_benefit .month_container .month_right .month_more h2 span {font-weight:600; color:#F0427D;}
main .month_benefit .month_container .month_right .month_more a {}
main .month_benefit .month_container .month_right .month_more a img {}
main .month_benefit .month_container .month_right .benefit_list {display:flex; gap:30px;}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap {background:#fff;}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap:hover {filter:brightness(90%);}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap .benefit_photo {}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap .benefit_photo img {display:block; width:100%;}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap .benefit_content {padding:15px; border-top:1px solid #eee;}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap .benefit_content .product_name {
    font-size:0.875rem; font-weight:500;
}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap .benefit_content .benefit_before {
    display:flex; margin:30px 0 3px; gap:40px;
}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap .benefit_content .benefit_before p {}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap .benefit_content .benefit_before p:nth-child(1) {
    color:#aaa; font-size:0.875rem;
}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap .benefit_content .benefit_before p:nth-child(2) {
    font-weight:800;
}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap .benefit_content .benefit_before p:nth-child(2) del {
    color:#aaa; font-size:0.875rem;
}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap .benefit_content .sale_star_wrap {
    display:flex; justify-content:space-between;
}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap .benefit_content .sale_star_wrap .benefit_sale {
    display:flex; gap:40px;
}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap .benefit_content .sale_star_wrap .benefit_sale p {
    color:#F0427D; font-weight:800;
}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap .benefit_content .sale_star_wrap .benefit_sale p:nth-child(1) {}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap .benefit_content .sale_star_wrap .benefit_sale p:nth-child(2) {}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap .benefit_content .sale_star_wrap a {font-size:0.688rem; display:flex; align-items:center;}
main .month_benefit .month_container .month_right .benefit_list .benefit_wrap .benefit_content .sale_star_wrap a img {display:block;}
/* -------------------------4행 카테고리별 제품 */
main .category_container {
    max-width:1620px; min-width:320px;
    margin:80px auto;
    /* 좌우 스와이퍼 부모 설정 */
    position:relative; 
}
main .category_container h2 {font-size:2rem; font-weight:500;}
main .category_container .cate_category_more {display:flex; justify-content:space-between;  margin:30px 0 40px;}
main .category_container .cate_category_more .category {display:flex; gap:40px;}
main .category_container .cate_category_more .category li {}
main .category_container .cate_category_more ul .active2{}
main .category_container .cate_category_more ul .active2 button {font-size:1.25rem !important;}

main .cate_category_more .category li {position: relative;}

main .cate_category_more .category li.active2::after {
    content: '';
    background:url(../images/Rectangle\ 52.png);
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index:-1;
}
main .category_container .cate_category_more .category li button {font-size:0.938rem; font-weight:500;}
main .category_container .cate_category_more .a {}
main .categoryw_container .cate_category_more .a img {}
/* swiper 포함 */
main .category_container .cate_product_container {display:flex; position:relative; width:100%;}
/* swiper 버튼 */
main .category_container .arrow_wrap {
    width:107%; height:50px; position:absolute;
    display:flex; left:-60px; bottom:200px;
    align-items:center;
}
main .category_container .arrow_wrap .swiper-button-prev {}
main .category_container .arrow_wrap .swiper-button-prev::after {display:none !important;}
main .category_container .arrow_wrap .swiper-button-prev img {display:block;}
main .category_container .arrow_wrap .swiper-button-next {}
main .category_container .arrow_wrap .swiper-button-next::after {display:none !important;}
main .category_container .arrow_wrap .swiper-button-next img {display:block;}
/* swiper-wrapper */
main .category_container .cate_product_container .cate_product_all_wrap {display:flex; width:100%;}
/* swiper-slide */
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap {display:flex; justify-content:space-between;}
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap .cate_product {
    position:relative;
    border:1px solid #eee;
}
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap .cate_product:hover {border:1px solid #F0427D;}
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap .cate_product .cate_photo {display:block; width:100%;}
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap .cate_product .cate_photo img {display:block; width:100%;}
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap .cate_product .wishlist_plus {position:absolute; top:220px; right:10px;}
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap .cate_product .wishlist_plus img {display:block;}
/* 상품 안 정보 */
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap .cate_product .cate_product_content {
    padding:15px; display:flex; flex-flow:column nowrap;
    border-top:1px solid #eee;
}
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap .cate_product .cate_product_content .product_brand {font-size:0.688rem;}
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap .cate_product .cate_product_content .product_name {
    font-size:0.938rem; font-weight:500;
    margin:10px 0 20px;
}
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap .cate_product .cate_product_content .before_price {}
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap .cate_product .cate_product_content .before_price del {font-size:0.75rem; font-weight:500; color:#aaa;}
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap .cate_product .cate_product_content .sale_price {
    font-size:0.875rem; font-weight:700;
    margin:6px 0 10px;
}
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap .cate_product .cate_product_content .sale_price span {font-weight:700; color:#F0427D; margin-right:10px;}
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap .cate_product .cate_product_content .star {display:flex; align-items:center;}
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap .cate_product .cate_product_content .star img {}
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap .cate_product .cate_product_content .star .score {
    font-size:0.688rem; font-weight:500;
    margin-right:7px;
}
main .category_container .cate_product_container .cate_product_all_wrap .cate_product_wrap .cate_product .cate_product_content .star .review_count {font-size:0.688rem; font-weight:500;}
/* ----------------------------------------브랜드뷰 */
main .brand_container {}
main .brand_container .brand_ad {position:relative; margin-bottom:100px;}
main .brand_container .brand_ad p {}
main .brand_container .brand_ad p img {display:block; width:100%;}
main .brand_container .brand_ad .brand_more {position:absolute; left:150px; bottom:30px;}
main .brand_container .brand_ad .brand_more p {}
main .brand_container .brand_ad .brand_more p a {color:#fff; font-size:1.125rem; font-weight:700;}
main .brand_container .brand_ad .brand_more p:nth-child(1) {color:#fff; font-family:'Prompt',sans-serif; font-size:3.125rem; font-weight:500; height:76px;}
main .brand_container .brand_ad .brand_more p:nth-child(2) { margin-top:10px;}
main .brand_container .brand_list {}
/* 갸ㅐ별 */
main .brand_container .brand_list .aritaum {}
main .brand_container .brand_list .aritaum .brand_right h3 { color:#BF446C;}
main .brand_container .brand_list .etude {flex-direction:row-reverse; margin:100px 0 100px;}
main .brand_container .brand_list .etude .brand_right h3 {color:#F0427D; text-align:right;}
main .brand_container .brand_list .etude .brand_right h3 {}
main .brand_container .brand_list .etude .brand_right .brand_plus {}
main .brand_container .brand_list .iope {}
main .brand_container .brand_list .iope .brand_right h3 {color:#101C46;}
/* 통합 */
main .brand_container .brand_list .brand_wrap {display:flex; gap:30px; align-items:end;}
main .brand_container .brand_list .brand_wrap .brand_left {}
main .brand_container .brand_list .brand_wrap .brand_left img {display:block; width:100%;}
main .brand_container .brand_list .brand_wrap .brand_right {max-width:790px;}
main .brand_container .brand_list .brand_wrap .brand_right h3 {font-weight:700; font-size:2.5rem;}
main .brand_container .brand_list .brand_wrap .brand_right .brand_plus {display:flex; justify-content:space-between; margin:15px 0 40px;}
main .brand_container .brand_list .brand_wrap .brand_right .brand_plus p {font-weight:300;}
main .brand_container .brand_list .brand_wrap .brand_right .brand_plus a {}
main .brand_container .brand_list .brand_wrap .brand_right .brand_plus a img {}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap {display:flex; gap:20px;}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap .brand_product {
    width:250px; position:relative;
    border:1px solid #eee;
}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap .brand_product:hover {border:1px solid #F0427D;}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap .brand_product .brand_photo {display:block;}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap .brand_product .brand_photo img {display:block;  width:100%; height:250px;}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap .brand_product .wishlist_plus {position:absolute; top:220px; right:10px;}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap .brand_product .wishlist_plus img {display:block;}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap .brand_product .brand_product_content {
    padding:15px; display:flex; flex-flow:column nowrap;
    border-top:1px solid #eee;
}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap .brand_product .brand_product_content .product_brand {font-size:0.688rem;}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap .brand_product .brand_product_content .product_name {
    font-size:0.938rem; font-weight:500;
    margin:10px 0 20px;
}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap .brand_product .brand_product_content .before_price {}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap .brand_product .brand_product_content .before_price del {font-size:0.75rem; font-weight:500; color:#aaa;}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap .brand_product .brand_product_content .sale_price {
    font-size:0.875rem; font-weight:700;
    margin:6px 0 10px;
}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap .brand_product .brand_product_content .sale_price span {font-weight:700; color:#F0427D; margin-right:10px;}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap .brand_product .brand_product_content .star {display:flex; align-items:center;}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap .brand_product .brand_product_content .star img {}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap .brand_product .brand_product_content .star .score {
    font-size:0.688rem; font-weight:500;
    margin-right:7px;
}
main .brand_container .brand_list .brand_wrap .brand_right .brand_product_wrap .brand_product .brand_product_content .star .review_countul {font-size:0.688rem; font-weight:500;}
/* --------------------퓻터 */
footer {background:#fcfcfc; padding:70px 200px; margin-top:150px;}
footer .footer_top {}
footer .footer_top ul {display:flex; gap:30px;}
footer .footer_top ul li {}
footer .footer_top ul li a {font-size:0.75rem;}
footer .footer_mid {display:flex; justify-content:space-between; margin-top:30px;}
footer .footer_mid .footer_left {}
footer .footer_mid .footer_left address {font-size:0.75rem; line-height:150%;}
footer .footer_mid .footer_left address span {font-weight:700; font-size:0.875rem;}
footer .footer_mid .footer_right {}
footer .footer_mid .footer_right p {font-size:0.75rem;}
footer .footer_mid .footer_right p:nth-child(1) {font-weight:700; font-size:0.875rem;}
footer .footer_mid .footer_right p:nth-child(2) {margin:30px 0 15px;}
footer .footer_mid .footer_right p:nth-child(3) {}
footer .footer_mid .footer_right p:nth-child(4) {margin:30px 0 15px;}
footer .footer_mid .footer_right p:nth-child(5) {}
footer .footer_bottom {margin-top:40px;}
footer .footer_bottom p {font-size:0.75rem;}
footer .footer_bottom p:nth-child(1) {}
footer .footer_bottom p:nth-child(1) span {font-weight:700; font-size:0.875rem;}
footer .footer_bottom p:nth-child(2) {margin:15px 0 30px;}
footer .footer_bottom p:nth-child(3) {}