main {}
main .product_container {display:flex; width:1220px; margin:0 auto; background:#fff; justify-content:space-between; padding:50px 0 70px;}
main .product_container .product_left {}
main .product_container .product_left .big_thum {margin-bottom:20px;}
main .product_container .product_left .big_thum img {display:block; border:1px solid #d9d9d9;}
main .product_container .product_left .small_thum_wrap {display:flex;  gap:10px;}
main .product_container .product_left .small_thum_wrap img {display:block; border:1px solid #d9d9d9;}
main .product_container .product_right {width:620px;}
main .product_container .product_right .product_name {padding-bottom:30px; border-bottom:1px solid #d9d9d9;}
main .product_container .product_right .product_name a {font-size:0.75rem; color:#aaa;}
main .product_container .product_right .product_name a img {margin-left:2px;}
main .product_container .product_right .product_name h2 {font-size:1.625rem; font-weight:500; margin:20px 0 30px;}
main .product_container .product_right .product_name .price_icon_wrap {
    display:flex; justify-content:space-between; align-items:center;
}
main .product_container .product_right .product_name .price_icon_wrap .price_wrap {display:flex; gap:15px; align-items:center;}
main .product_container .product_right .product_name .price_icon_wrap .price_wrap .sale {font-size:1.25rem; font-weight:500; color:#F0427D;}
main .product_container .product_right .product_name .price_icon_wrap .price_wrap .price {font-size:1.25rem; font-weight:500;}
main .product_container .product_right .product_name .price_icon_wrap .price_wrap .before {}
main .product_container .product_right .product_name .price_icon_wrap .price_wrap .before del {font-size:0.938rem; color:#aaa; display:block;}
main .product_container .product_right .product_name .price_icon_wrap .wishlist_plus_share {display:flex; align-items:center; gap:13px;}
main .product_container .product_right .product_name .price_icon_wrap .wishlist_plus_share .wishlist_plus {display:block;}
main .product_container .product_right .product_name .price_icon_wrap .wishlist_plus_share .share {display:block;}
main .product_container .product_right .product_name .star_wrap {display:flex; gap:10px;  align-items:center;}
main .product_container .product_right .product_name .star_wrap .star_count {display:flex; align-items:center;}
main .product_container .product_right .product_name .star_wrap .star_count .star_img {display:flex; align-items:center;}
main .product_container .product_right .product_name .star_wrap .star_count .star_img img {display:block;}
main .product_container .product_right .product_name .star_wrap .star_count p {font-size:0.75rem; font-weight:300;}
main .product_container .product_right .product_name .star_wrap .review_count {font-size:0.75rem; color:#aaa;}
main .product_container .product_right .product_benefit {margin:30px 0; height:224px;}
main .product_container .product_right .product_benefit dl {}
main .product_container .product_right .product_benefit dl dt {
    float:left; clear:both; 
    width:100px; margin-bottom:30px; 
    font-weight:600;
}
main .product_container .product_right .product_benefit dl dd {
    width:calc(100% - 150px); float:right; margin-bottom:20px;
    font-size:0.875rem; color:#949494;
    display:flex;
}
main .product_container .product_right .product_benefit dl dd + dd {margin-top:0;}
main .product_container .product_right .product_benefit dl dd a {color:#949494;}
main .product_container .product_right .product_benefit dl dd .main_title {}
main .product_container .product_right .product_benefit dl dd img {margin:0 10px;}
main .product_container .product_right .product_benefit dl dd .sub_title {color:#949494; display:flex;}
main .product_container .product_right .product_benefit dl dd .sub_title .span_blue {font-weight:600; color:#60A9EB;}
main .product_container .product_right .product_benefit dl dd .sub_title .span_pink {font-weight:600; color:#F0427D;}
main .product_container .product_right .product_benefit dl dd .sub_title .button {display:block; display:flex; align-items:center;}
main .product_container .product_right .product_benefit dl dd .sub_title .button img {}
main .product_container .product_right .product_buy_wrap {}
main .product_container .product_right .product_buy_wrap .user_order {}
main .product_container .product_right .product_buy_wrap .user_order .user_num {
    width:100%; height:100px; padding:30px 50px;
    display:flex; align-items:center; justify-content:space-between;
    background:#f9f9f9;
}
main .product_container .product_right .product_buy_wrap .user_order .user_num .count_btn {
    border:0.2px solid #000; height:25px; display:flex; align-items:center;
    
}
main .product_container .product_right .product_buy_wrap .user_order .user_num .count_btn button {width:100%; height:100%; background:#fff; padding:4px 9px;}
main .product_container .product_right .product_buy_wrap .user_order .user_num .count_btn #minus {}
main .product_container .product_right .product_buy_wrap .user_order .user_num .count_btn input {
    font-size:0.75rem; height:100%; width:50px; padding:0 15px;
    border-left:0.2px solid #000; border-right:0.2px solid #000;
    display:block; text-align:center;
}
main .product_container .product_right .product_buy_wrap .user_order .user_num .count_btn #plus {}
main .product_container .product_right .product_buy_wrap .user_order .user_num p {font-size:1.25rem; font-weight:600;}
main .product_container .product_right .product_buy_wrap .user_order .user_all_num {
    margin-top:20px; padding:0 50px;
    display:flex; justify-content:space-between; align-items:center;
}
main .product_container .product_right .product_buy_wrap .user_order .user_all_num p {font-weight:600;}
main .product_container .product_right .product_buy_wrap .user_order .user_all_num p span {font-size:1.25rem; font-weight:600; color:#F0427D;}
main .product_container .product_right .product_buy_wrap .user_order .user_all_num .all_count {}
main .product_container .product_right .product_buy_wrap .user_order .user_all_num .all_count span {margin-left:10px;}
main .product_container .product_right .product_buy_wrap .user_order .user_all_num .all_price {}
main .product_container .product_right .product_buy_wrap .user_order .user_all_num .all_price span {margin-left:7px;}
main .product_container .product_right .product_buy_wrap .user_buy_btn_wrap {display:flex; justify-content:space-between; margin-top:30px;}
main .product_container .product_right .product_buy_wrap .user_buy_btn_wrap #gift {
    width:60px; height:60px; border:1px solid #d9d9d9; display:block;
    background:#fff;
}
main .product_container .product_right .product_buy_wrap .user_buy_btn_wrap #gift img {}
main .product_container .product_right .product_buy_wrap .user_buy_btn_wrap .user_btn_cart_buy {display:flex; gap:50px; }
main .product_container .product_right .product_buy_wrap .user_buy_btn_wrap .user_btn_cart_buy #cart_go {
    border:1px solid #f0427d; padding:20px 85px;
    font-size:1.125rem; font-weight:600;
    background:#fff; color:#f0427d;
}
main .product_container .product_right .product_buy_wrap .user_buy_btn_wrap .user_btn_cart_buy #buy_go {
    background:#f0427d; padding:20px 85px;
    font-size:1.125rem; font-weight:600;
    color:#fff;
}
/* 제품 정보, 리뷰등등 총 그룹 */
main .product_info_container {}
main .product_info_container .product_btn_wrap {background:red; width:1220px; margin:0 auto; display:flex; margin-bottom:40px;}
main .product_info_container .product_btn_wrap button {
    padding:25px 0; background:#fff; width:305px;
    border-bottom:1px solid #d9d9d9;
}
/* 버튼 모음 */
main .product_info_container .product_btn_wrap .product_info_btn {}
main .product_info_container .product_btn_wrap .product_review_btn {}
main .product_info_container .product_btn_wrap .product_qa_btn {}
main .product_info_container .product_btn_wrap .product_as_btn {}
main .product_info_container .change_content {}
main .product_info_container .change_content .info {
    display:flex; flex-flow:column nowrap; 
    width:790px; margin:0 auto;
}
/* ------------------------------------------------변경되는 내용들 그룹 */
/* 상품정보 */
main .product_info_container .change_content .info img {width:100;}
/* 상품리뷰 */
main .product_info_container .change_content .review {width:1220px; margin:0 auto;}
main .product_info_container .change_content .review .review_title {display:flex; justify-content:space-between;}
main .product_info_container .change_content .review .review_title h3 {font-size:1.5rem;}
main .product_info_container .change_content .review .review_title a {font-size:0.75rem; font-weight:300;}
main .product_info_container .change_content .review .photo_review {}
main .product_info_container .change_content .review .photo_review .photo_review_title {display:flex; justify-content:space-between; margin:70px 0 30px;}
main .product_info_container .change_content .review .photo_review .photo_review_title h4 {font-size:1.25rem;}
main .product_info_container .change_content .review .photo_review .photo_review_title a {font-size:0.75rem; font-weight:300;}
main .product_info_container .change_content .review .photo_review .photo_review_wrap {display:flex; justify-content:space-between;}
main .product_info_container .change_content .review .photo_review .photo_review_wrap a {}
main .product_info_container .change_content .review .photo_review .photo_review_wrap a img {display:block;border-radius:10px;}
main .product_info_container .change_content .review .user_review {margin-top:100px;}
main .product_info_container .change_content .review .user_review .review_sorting_wrap {
    display:flex; justify-content:space-between; align-items:center;
    padding:15px 20px; background:#f9f9f9;
}
main .product_info_container .change_content .review .user_review .review_sorting_wrap .review_sorting {display:flex; gap:50px;}
main .product_info_container .change_content .review .user_review .review_sorting_wrap .review_sorting li {}
main .product_info_container .change_content .review .user_review .review_sorting_wrap .review_search_wrap {position:relative;}
main .product_info_container .change_content .review .user_review .review_sorting_wrap .review_search_wrap img {position:absolute; left:15px; top:7px;}
main .product_info_container .change_content .review .user_review .review_sorting_wrap .review_search_wrap input {
    font-size:0.688rem;
    width:250px; height:30px; padding-left:36px;
    
}
main .product_info_container .change_content .review .user_review .review_list {}
main .product_info_container .change_content .review .user_review .review_list .review_container {
    display:flex; align-items:center; justify-content:space-between;
    padding:20px 0;
}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_left {text-align:center;}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_left p {}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_left .user_photo {}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_left .user_photo img {}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_left .user_name {font-size:0.75rem; margin:10px 0 5px;}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_left .user_info {font-size:0.875rem; color:#949494;}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_left .user_info span {}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content {
    width:700px; 
}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content p {}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content .date {font-size:0.875rem;}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content .user_content {
    font-size:0.875rem; margin:50px 0;
}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content .help_container {
    display:flex; justify-content:space-between; align-items:center;
}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content .help_container .help_wrap {
    display:flex; gap:30px;
}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content .help_container .help_wrap .help_good {
    display:flex; align-items:center; gap:5px;
}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content .help_container .help_wrap .help_good img {}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content .help_container .help_wrap .help_good span {
    font-size:0.75rem; color:#949494;
}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content .help_container .help_wrap .help_good .count {font-size:0.625rem; font-weight:700;}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content .help_container .help_wrap .help_bad {
    display:flex; align-items:center; gap:5px;
}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content .help_container .help_wrap .help_bad img {}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content .help_container .help_wrap .help_bad span {font-size:0.75rem; color:#949494;}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content .help_container .help_wrap .help_bad .count {font-size:0.625rem; font-weight:700;}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content .help_container .review_option {}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content .help_container .review_option img {}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content .star_wrap {
    display:flex; margin-top:15px;
}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_content .star_wrap img {}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_right {
    position:relative;
}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_right img {display:block;}
main .product_info_container .change_content .review .user_review .review_list .review_container .review_right  span {
    position:absolute; right:0; bottom:0;
    padding:10px; background:#949494; display:block;
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;
    color:#fff;
}
/* 공통 페이지 버튼 */
main .product_info_container .change_content .page_btn {
    display:flex; gap:10px; margin:0 auto;
    width:max-content; margin-top:20px;
}
main .product_info_container .change_content .page_btn button {
    width:30px; height:30px;
}
main .product_info_container .change_content .page_btn button:first-child {color:#F0427D; border:1px solid #F0427D;}
main .product_info_container .change_content .qna {width:1220px; margin:0 auto;}
main .product_info_container .change_content .qna > button {}
main .product_info_container .change_content .qna .product_qa_list {display:flex; flex-flow:column nowrap; gap:50px; clear:both;}
main .product_info_container .change_content .qna .product_qa_list .product_wrap {
    display:flex; justify-content:space-between; align-items:center;
    height:50px; text-align:center;
}
main .product_info_container .change_content .qna .product_qa_list .product_wrap p {}
main .product_info_container .change_content .qna .product_qa_list .product_wrap .answer {
    width:100px;
    padding:7px 15px; font-size:0.75rem;
    background:#fff; color:#000; border:1px solid #F0427D;
}
main .product_info_container .change_content .qna .product_qa_list .product_wrap .answer_clear {
    color:#fff; background:#F0427D;
    font-size:0.75rem; width:100px;
    padding:7px 15px;
}
main .product_info_container .change_content .qna .product_qa_list .product_wrap .question {width:250px; text-align:left;}
main .product_info_container .change_content .qna .product_qa_list .product_wrap p:nth-child(3),
main .product_info_container .change_content .qna .product_qa_list .product_wrap p:nth-child(4) {}
main .product_info_container .change_content .qna > button {
    background:#F0427D; padding:7px 15px; float:right; margin:10px 0 20px; display:block;
    color:#fff;
}
main .product_info_container .change_content .qna  .qa_page_btn {clear:both;}
main .product_info_container .change_content .announcement {
    width:1220px; margin:0 auto;
}
main .product_info_container .change_content .announcement .delivery_info {}
main .product_info_container .change_content .announcement .change_info {}
main .product_info_container .change_content .announcement h4 {font-size:1.25rem; margin-bottom:30px; clear:both;}
main .product_info_container .change_content .announcement table {
    border-top:1px solid #949494;
    border-bottom:1px solid #949494;
    width:100%;
}
main .product_info_container .change_content .announcement table .delivery_local {}
main .product_info_container .change_content .announcement table .delivery_day {
    border-top:1px solid #d9d9d9;
}
main .product_info_container .change_content .announcement table .delivery_day + tr {
    border-bottom:1px solid #d9d9d9;
}
main .product_info_container .change_content .announcement table .delivery_price {}
main .product_info_container .change_content .announcement table tr {padding:20px;}
main .product_info_container .change_content .announcement table tr th {
    width:200px; background:#F0427D; color:#fff; border-bottom:1px solid #d9d9d9;
}
main .product_info_container .change_content .announcement table tr td {padding:10px;}
main .product_info_container .change_content .announcement .change_info {}
main .product_info_container .change_content .announcement .change_info h4 {margin-top:50px;}
main .product_info_container .change_content .announcement .change_info table {}
main .product_info_container .change_content .announcement .change_info table tr:nth-child(8) {border-bottom:1px solid #d9d9d9;}
main .product_info_container .change_content .announcement .change_info table tr:nth-child(13) {border-bottom:1px solid #d9d9d9;}
main .product_info_container .change_content .announcement .change_info table tr:nth-child(20) {border-bottom:1px solid #d9d9d9;}
footer {}
